#login-background {
  background-image: url('../../../../public/images/login.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta real de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-color: #F5F5F5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(53, 191, 175, 0.466); /* Corregido para aplicar opacidad */
  background-size: cover;
  background-position: center;
}

/*.card {
  margin-top: 3rem;
  margin-bottom: 6rem;
}*/

/*.card-body {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}*/

.fade-out {
  animation: fadeOut 3s forwards;
}

.card-login {
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.815);
}



.card-content-disposition-login {
  margin: 1rem;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.alert-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 10px;

}

#alert-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  
}

#alert-container {
  display: flex;
  position: fixed;
  align-items: center;
  padding: 0 20px;
  top: 100px;
  right: 0;
  z-index: 9999;
}



#alert-message {
  font-size: 16px;
}

/* ESTILOS PARA AVATAR */
.avatar-style {
  border: none;
}

.withoutDataMessage {
  display: flex;
}

/* ESTILOS PARA BOTÓN DE INICIO DE SESIÓN */
.btn-login-style {
  background-color: #1B5A7D;
  color: white; 
  border: none;
  border-radius: 10px;
  padding: 10px; 
  width: 100%; 
  margin-top: 0px; 
  margin-bottom: 30px; 
}

.btn-login-style:hover {
  background-color: #C30E2E;
  color: white; 
  border: none;
}

/* ESTILOS PARA ENLACE DE CREACIÓN DE CUENTA */
.create-account-style {
  text-decoration: none;
  color: #1B5A7D; 
  font-weight: bold; 
  text-align: center;
  margin-top: 10px;
}

.create-account-style:hover {
  color: #C30E2E;
  text-decoration: none;
}

.password-recovery-style {
  text-decoration: none;
  color: #1B5A7D; 
  font-weight: 500; 
  text-align: center;
  margin-top: 10px;
}

.password-recovery-style:hover {
  color: #C30E2E;
  text-decoration: none;
}

