.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 1.5rem;

  }
}

body {
  padding-top: 3.5rem;
}

.menu {
  background-color: #dfe5e7 !important;
}

