.card-cardsport {
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.card-text-info {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-align: justify;
}

.text-container-details {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-align: justify;
    margin-top: 1rem;
}

#card-img-bottom {
    background-position: center; /* Centra la imagen en el contenedor */
    background-size: cover; /* Cubre completamente el contenedor, puede recortar la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 650px; /* Ajusta la altura del contenedor según necesites */
}
