.card-title {
    padding: 0px;
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.description-card-container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.card-text {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    color: #333;
}

.card-img-top {
    background-size: 1rem 1rem; /* Ajusta el tamaño de la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 1rem; /* Ajusta la altura del contenedor al tamaño deseado */
    width: 1rem; /* Ajusta el ancho del contenedor al tamaño deseado */
}

