.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.iconContainer {
  font-size: 5em;
  color: #C30E2E;
}

.textContainer {
  max-width: 90%;
  padding: 0 20px;
}

.title {
  font-size: 2rem;
  color: #1B5A7D;
}

.paragraph {
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
}

.darkButton {
  margin-top: 20px;
}